.headerText {
  text-align: center;
  font-size: xx-large;
}

.profilePic{
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.profileImgs{
  max-width: 300px;
  max-height: 300px;
  min-width: 300px;
  min-height: 300px;
}

.feedImgs{
  max-width: 400px;
  max-height: 400px;
  min-width: 400px;
  min-height: 400px;
}

.feedCards{
  max-height: fit-content;
  max-width: max-content;
}